<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="icon" href="data:,">
</head>
<body>
    
    <form action="/post_user.html" method="get">   
        <button name="create_user" type="submit" value="create">Create an user!</button>   
    </form>

    <form action="/get_user.html" method="get">      
        <button name="get_user" type="submit" value="get">Get info about an user!</button>
    </form>
</body>
</html>